<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ServiceContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>下载图片并保存.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>本地推送下载的图片.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A3D88F21D923B2300EEEF9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3D890A1D923B2300EEEF9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3D89151D923B2300EEEF9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB5A99A1D91185E00D5D388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB5A9B31D91185E00D5D388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB5A9BE1D91185E00D5D388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF184531D91437A00494E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF184641D9145BB00494E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF1847C1D91478500494E53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
